* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.company__id-list {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 1rem;
}

p {
   color: #FFF;
   background-color: rgb(82, 2, 15);
   padding: .65rem;
   border: 2px solid navy;
   text-align: center;
   font-weight: bold;
}